In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')
from sklearn import metrics

In [39]:
dataset = pd.read_csv('/content/heart_failure_clinical_records_dataset.csv')

*Preprocessing Data*

In [40]:
dataset

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [41]:
dataset.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [42]:
dataset.tail()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
294,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.0,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0

In [43]:
dataset.sample(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
163,50.0,1,2334,1,35,0,75000.0,0.9,142,0,0,126,1
9,80.0,1,123,0,35,1,388000.0,9.4,133,1,1,10,1
5,90.0,1,47,0,40,1,204000.0,2.1,132,1,1,8,1
197,65.0,0,167,0,30,0,259000.0,0.8,138,0,0,186,0
156,52.0,1,58,0,35,0,277000.0,1.4,136,0,0,120,0
10,75.0,1,81,0,38,1,368000.0,4.0,131,1,1,10,1
224,58.0,0,582,1,25,0,504000.0,1.0,138,1,0,205,0
62,55.0,0,109,0,35,0,254000.0,1.1,139,1,1,60,0
121,66.0,1,68,1,38,1,162000.0,1.0,136,0,0,95,0
265,50.0,1,298,0,35,0,362000.0,0.9,140,1,1,240,0

In [44]:
dataset.shape

(299, 13)

In [45]:
dataset.std()

age                            11.894809
anaemia                         0.496107
creatinine_phosphokinase      970.287881
diabetes                        0.494067
ejection_fraction              11.834841
high_blood_pressure             0.478136
platelets                   97804.236869
serum_creatinine                1.034510
serum_sodium                    4.412477
sex                             0.478136
smoking                         0.467670
time                           77.614208
DEATH_EVENT                     0.467670
dtype: float64

In [46]:
dataset.count()

age                         299
anaemia                     299
creatinine_phosphokinase    299
diabetes                    299
ejection_fraction           299
high_blood_pressure         299
platelets                   299
serum_creatinine            299
serum_sodium                299
sex                         299
smoking                     299
time                        299
DEATH_EVENT                 299
dtype: int64

In [47]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [48]:
dataset.isnull().sum()
#if there is any null value in any column so uncomment the below and run the cell, all null value columns will be dropped out
# dataset = dataset.dropna(how='any')

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [49]:
dataset.value_counts()

age   anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  smoking  time  DEATH_EVENT
95.0  1        371                       0         30                 0                    461000.00  2.00              132           1    0        50    1              1
40.0  0        90                        0         35                 0                    255000.00  1.10              136           1    1        212   0              1
               244                       0         45                 1                    275000.00  0.90              140           0    0        174   0              1
               478                       1         30                 0                    303000.00  0.90              136           1    0        148   0              1
               582                       1         35                 0                    222000.00  1.00              132           1    0        244   0              1
                                                                                                                                                                        ..
43.0  1        358                       0         50                 0                    237000.00  1.30              135           0    0        97    0              1
42.0  1        250                       1         15                 0                    213000.00  1.30              136           0    0        65    1              1
               86                        0         35                 0                    365000.00  1.10              139           1    1        201   0              1
      0        5209                      0         30                 0                    226000.00  1.00              140           1    1        87    0              1
               582                       0         60                 0                    263358.03  1.18              137           0    0        82    0              1
Name: count, Length: 299, dtype: int64

In [50]:
dataset.duplicated().sum()

np.int64(0)

*Data standardization*

In [51]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(dataset)
standardized_data

array([[ 1.19294523e+00, -8.71104775e-01,  1.65728387e-04, ...,
        -6.87681906e-01, -1.62950241e+00,  1.45416070e+00],
       [-4.91279276e-01, -8.71104775e-01,  7.51463953e+00, ...,
        -6.87681906e-01, -1.60369074e+00,  1.45416070e+00],
       [ 3.50832977e-01, -8.71104775e-01, -4.49938761e-01, ...,
         1.45416070e+00, -1.59078490e+00,  1.45416070e+00],
       ...,
       [-1.33339153e+00, -8.71104775e-01,  1.52597865e+00, ...,
        -6.87681906e-01,  1.90669738e+00, -6.87681906e-01],
       [-1.33339153e+00, -8.71104775e-01,  1.89039811e+00, ...,
         1.45416070e+00,  1.93250906e+00, -6.87681906e-01],
       [-9.12335403e-01, -8.71104775e-01, -3.98321274e-01, ...,
         1.45416070e+00,  1.99703825e+00, -6.87681906e-01]])

In [52]:
standardized_data.std()

np.float64(1.0)

In [53]:
standardized_data.mean()

np.float64(0.0)

*Hyperparameter tuning*

In [54]:
# Splitting dataset into X and Y
# X = all columns except 'DEATH_EVENT'
X = dataset.drop('DEATH_EVENT', axis=1)

# y = target column
Y = dataset['DEATH_EVENT']

In [55]:
X

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285

In [56]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [57]:
Y.value_counts()

DEATH_EVENT
0    203
1     96
Name: count, dtype: int64

In [58]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42, stratify=Y)

In [59]:
X_train.shape

(239, 12)

In [60]:
X_test.shape

(60, 12)

In [61]:
Y_train

115    0
23     0
0      1
247    0
194    1
      ..
229    0
131    0
177    0
112    0
28     1
Name: DEATH_EVENT, Length: 239, dtype: int64

In [62]:
#shows target label is 1D
type(Y_train)

pandas.core.series.Series

In [63]:
from sklearn.model_selection import train_test_split, GridSearchCV

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Train-test split (if not done already)
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size=0.2, random_state=42)

# Initialize base model
model = LogisticRegression(solver='liblinear')  # Use 'liblinear' to support l1 penalty

# Hyperparameter tuning with GridSearchCV
param_grid = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2'],
}

grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, Y_train)

# Best model from grid search
best_model = grid_search.best_estimator_

# Evaluation
print("✅ Best Parameters:", grid_search.best_params_)
print("✅ Best Cross-Validation Accuracy:", grid_search.best_score_)

train_preds = best_model.predict(X_train)
train_accuracy = accuracy_score(Y_train, train_preds)
print("✅ Training Accuracy:", train_accuracy)

test_preds = best_model.predict(X_test)
test_accuracy = accuracy_score(Y_test, test_preds)
print("✅ Test Accuracy:", test_accuracy)

# Predict for a new input sample
input_sample = [[63,	1,	61,	1,	40,	0,	221000,	1.1,	140,	0,	0,	86]]
input_sample_scaled = scaler.transform(input_sample)
prediction = best_model.predict(input_sample_scaled)
result = "Died" if prediction[0] == 1 else "Not Died"
print("✅ Prediction for input sample:", result)

✅ Best Parameters: {'C': 0.001, 'penalty': 'l2'}
✅ Best Cross-Validation Accuracy: 0.8618794326241135
✅ Training Accuracy: 0.8493723849372385
✅ Test Accuracy: 0.8166666666666667
✅ Prediction for input sample: Not Died

In [64]:
import pickle
import gzip
with gzip.open('model1.pkl', 'wb') as f:
    pickle.dump(best_model, f)